@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:300,900|Open+Sans');

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.header {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 56px;
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.1);
  background-color: #fff;
}

.footer {
  position: relative;
  height: 48px;
  background: #ecf0f5;
  color: darkgray;
  padding-left: 20px;
  box-shadow: 0 -1px rgba(51, 51, 51, 0.1);
  line-height: 48px;
  overflow: hidden;
}

.content {
  position: absolute;
  top:56px;
  bottom:0px;
  left:0px;
  right:0px;
  height: calc(100vh - 108px);
  overflow: auto;
}

.happenings-container {
  height: 75vh !important;
  /* height: calc(100vh - 108px); */
  overflow-y: scroll;
}

.happenings-list {
  height:100%;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 10px;
  overflow-y: auto;
}

.happenings-h2 {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
}

.happenings-h2-stats {
  font-weight: 900;
}

.panel {
  box-sizing: border-box;
  margin-bottom: 2px;
  margin: 0px;
  padding-left: 10px;
  font-weight: 700;
  color: darkgreen;
  /* border: 1px solid black; */
}

.panel-desc {
  list-style-type: none;
  margin-bottom: 5px;
  /* height: 100px; */
  padding-left: 10px;
  padding-bottom: 10px;
  /* width: 90%; */
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: auto;
}

.fullHeight {
  height: 100%;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.site-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 56px auto 48px;
}

.site-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.1);
}

.site-content {
  display: grid;
  grid-template-columns: 320px auto 320px;
  grid-template-rows: auto;

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url('../images/front2.png');
  background-size: 100% auto;
}

.map-content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.site-main {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.homepage-main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:transparent;
  background-image: url('../images/front2.png');
  background-size: 100% auto;
}

.homepage-featured {
  grid-row-start: 3;
  grid-row-end: 4;
  /* background-color: #ecf0f5 */
  background-color: hotpink;
}

.site-footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  line-height: 48px;
  background: #ecf0f5;
  color: darkgray;
  padding-left: 20px;
  box-shadow: 0 -1px rgba(51, 51, 51, 0.1);
}

.navbar-brand {
  font-family: 'Arvo', serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: .4125rem;
  padding-right: .4125rem;
}

.navbar-light {
  color: white;
}

.nav-item {
  width: 200px;
  text-align: center;
}

.search-form {
  border: 1px solid hsla(0,0%,100%,.3);
  background: hsla(0,0%,100%,.95);
  height: 145px;
  margin-top: 280px;
  border-radius: 4px;
}

.search-inputs {
  margin: 15px 25px;
  /* margin: 10px 25px; */
}

.btn {
  margin-top: 8px;
}
.resultDropdownDiv {
  position: absolute;
  z-index: 100;
  top: 46px;
}
.resultDropdown {
  background-color: white;
  height: 30px;
  width: 400px;
  font-size: 14px;
  border-bottom: 1px solid black;
  padding-left: 5px;
}

.locationHeader {
  width: 400px;
}

.resultDropdown:hover {
  cursor: pointer;
  background: lightgrey;
}
.newSearchButton {
  position: absolute;
  top: 60px;
  left: 320px;
  z-index: 10
}
#searchArea {
  display: none;
}
.badge {
  color: #ffffff;
  text-transform: capitalize;
}

.badge-default {
  background-color: #d0d0d0;
  color: #696969;
}

.badge-school-holidays {
  background-color: #ccccff;
  color: #696969;
}

.badge-public-holidays {
  background-color: #cbaa5c;
}

.badge-observances {
  background-color: #ccffcc;
  color: #696969;
}

.badge-politics {
  background-color: #ff33ff;
}

.badge-conferences {
  background-color: #ff8000;
}

.badge-expos {
  background-color: #ffcccc;
  color: #696969;
}

.badge-concerts {
  background-color: #66cc00;
}

.badge-concerts {
  background-color: '#0080ff';
}

.badge-performing-arts {
  background-color: #ff3333;
}

.badge-sports {
  background-color: #ffff00;
  color: #000000;
}

.badge-community {
  background-color: #00cc00;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.titles:hover {
  cursor: pointer;
}
.showName {
  margin: 20px 0;
}
.showMap {
  overflow: none;
}