@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato|Open+Sans');

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* 
  Site / Class Hierarchy: 
    { site-wrapper }
      { site-header <header> tag }
      { homepage-main <div> tag }
      { site-footer <footer> tag }
    { site-wrapper - END }
*/

.site-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 56px auto 48px;
}

.site-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.1);
}

.site-content {
  display: grid;
  grid-template-columns: 320px auto 320px;
  grid-template-rows: auto;

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url('../images/front2.png');
  background-size: 100% auto;
}

.site-main {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.homepage-main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:transparent;
  background-image: url('../images/front2.png');
  background-size: 100% auto;
}

.homepage-featured {
  grid-row-start: 3;
  grid-row-end: 4;
  /* background-color: #ecf0f5 */
  background-color: hotpink;
}

.site-footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  line-height: 48px;
  background: #ecf0f5;
  color: darkgray;
  padding-left: 20px;
  box-shadow: 0 -1px rgba(51, 51, 51, 0.1);
}

.navbar-brand {
  font-family: 'Arvo', serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: .4125rem;
  padding-right: .4125rem;
}

.navbar-light {
  color: white;
}

.nav-item {
  width: 200px;
  text-align: center;
}

.search-form {
  border: 1px solid hsla(0,0%,100%,.3);
  background: hsla(0,0%,100%,.95);
  height: 145px;
  margin-top: 280px;
  border-radius: 4px;
}

.search-inputs {
  margin: 15px 25px;
  /* margin: 10px 25px; */
}

.btn {
  margin-top: 8px;
}
.resultDropdownDiv {
  position: relative;
  top: -42px;
}
.resultDropdown {
  background-color: white;
  height: 30px;
  font-size: 14px;
  border-bottom: 1px solid black;
  padding-left: 5px;
}
.resultDropdown:hover {
  cursor: pointer;
  background: lightgrey;
}