/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
.borderBottom {
   border-bottom: 1px solid black;
   padding: 5px 0;
}
h1 {
  text-align: center;
}
.button, .button:hover {
  color: white;
  text-decoration: none;
}
.form-group {
  width: 40%;
  margin: 0 auto;
}
.cancelButton {
  float: right;
  margin-bottom: 50px;
}
.submitButton {
  float: left;
}
.topShowDiv, .middleShowDiv {
  width: 78%;
  margin: 0 auto;
}
.mainShowDiv {
  background-color: lightgrey;
  overflow: auto;
}
.placeholderImage {
  width: 750px;
  height: 400px;
  background: black;
  position: relative;
  top: 15px;
  margin-bottom: 30px;
}
.rectangles {
  width: 31.55%;
  height: 50px;
  background: white;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  padding-top: 15px;
}
.rectangle3 {
  margin-right: 0;
}
.rectangles:hover {
  cursor: pointer;
}
.bottomShow {
  background: white;
  padding: 20px 30px;
  height: 350px;
}
.leftMiddleShowDiv {
  width: 750px;
}
.paddingBelow {
  height: 100px;
}
